{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="flex items-center justify-center min-h-screen/2 pt-4">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
        <h2 class="text-2xl font-bold mb-4 text-center">Log In</h2>
        <form method="post" action="{% url 'login_page' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="mb-4">
                <label for="id_email" class="block text-sm font-medium text-gray-700">Email</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="mb-4">
                <label for="id_password" class="block text-sm font-medium text-gray-700">Password</label>
                {{ form.password }}
                {{ form.password.errors }}
            </div>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded w-full">
                Log In
            </button>
        </form>
        <div class="mt-4 flex justify-between">
            <p> No Account Yet? 
                <a href="{% url 'signup_page' %}" class="text-blue-500 hover:underline">
                    Sign Up
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
